<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikhokha.sdk" >
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <meta-data
            android:name="android.nfc.action.TECH_DISCOVERED"
            android:resource="@xml/nfc_tech_filter" />
    </application>

</manifest>